<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>WeatherApp</title>
  </head>
  <body>
    <div class="container">
      <form id="searchForm" action="/search" method="GET">
        <input type="text" placeholder="City" id="find" />
        <button id="submit">Search</button>
        <div class="show">
          <div class="temp">
            <%=(Math.floor(response.data.main.temp))%>&#176;
          </div>
          <div class="city">
            <%=response.data.name%>, <%=response.data.sys.country%>
          </div>
          <div class="desc"><%=response.data.weather[0].description%></div>
        </div>
      </form>
    </div>
  </body>
</html>
