* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    14deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(67, 201, 195, 1) 54%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#searchForm {
  height: 500px;
  width: 300px;
  background-color: rgb(175, 218, 230);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.temp {
  font-size: 5em;
  margin-left: 10px;
}

.city {
  margin-top: 20px;
  font-size: 2em;
}
.desc {
  font-size: 2em;
  text-transform: capitalize;
}

.feels {
  font-size: 1.3em;
}

img {
  height: 200px;
  width: 200px;
}

form {
  padding: 20px;
  border-radius: 3em;
}

input {
  font-size: 1.4em;
  border-radius: 1em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 10px;
  border-right: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-color: black;
}

input:focus-within {
  outline-style: none;
}

.search {
  display: flex;
}

button {
  font-size: 30px;
  border-left: 0;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  padding-right: 10px;
  background-color: white;
  color: gray;
  border-color: black;
}

button:hover {
  color: black;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
