* {
  margin: 0;
  padding: 0;
}

#searchForm {
  height: 450px;
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.temp {
  font-size: 60px;
  margin-left: 10px;
}

.city {
  margin-top: 20px;
  font-size: 30px;
}
.desc {
  font-size: 30px;
  text-transform: capitalize;
}

.feels {
  font-size: 25px;
}

img {
  height: 200px;
  width: 200px;
}

form {
  border: 3px solid black;
  padding: 20px;
  border-radius: 3em;
}

input {
  font-size: 20px;
  border-radius: 1em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 10px;
}

.search {
  display: flex;
}

button {
  font-size: large;
}
